<br>
<h2 class="page-header-semi form-header">Admin Sign In</h2>
<form action="/admin" method="POST" class="admin contact">
    <div class="form-row">
        <div class="form-item admin-input">
            <input type="text" name="user" placeholder="user" required>    
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="form-item admin-input">
            <input type="text" name="password"  placeholder= "password" required>
        </div>    
    </div>
    <br>
    <button class="btn btn-primary admin-button" type="submit">log in</button>
</form>
