<br />
<h2 class="page-header-semi form-header">Contact</h2>
<form
  action="https://formsubmit.co/cd953035aee0cf529a8ee8ce4ae6353d"
  method="POST"
  class="contact"
>
  <input
    type="hidden"
    name="_next"
    value="https://truefilm.herokuapp.com/thankYou"
  />
  <input type="hidden" name="_captcha" value="false" />
  <div class="form-row">
    <div class="form-item">
      <input type="text" name="fname" placeholder="Name.." required />
    </div>
  </div>
  <br />
  <div class="form-row">
    <div class="form-item">
      <input type="text" name="lname" placeholder="Last name.." required />
    </div>
  </div>
  <br />
  <div class="form-row">
    <div class="form-item">
      <input type="email" name="email" placeholder="Email.." required />
    </div>
  </div>
  <br />
  <div class="form-row">
    <div class="form-item">
      <textarea
        name="description"
        placeholder="Type your message here.."
        required
      ></textarea>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
