<header>
    <nav class="header-nav">
        <a class="header-title" href="/">TrueFilm</a>
        <ul>
            <br>
            <li><a href="/">About</a></li>
            <li><a href="/films">Films</a></li>
            <li><a href="/directors">Directors</a></li>
            <li><a href="/films/new">Add a Film</a></li>
            <li><a href="/directors/new">Add a Director</a></li>
        </ul>
    </nav>
</header>