<header>
    <nav>
        <a href="/">TrueFilm</a>
        <ul>
            <li><a href="/directors">Directors</a></li>
            <li><a href="/directors/new">Add Director</a></li>
            <li><a href="/Films">Films</a></li>
            <li><a href="/Films/new">Add a Film</a></li>
        </ul>
    </nav>
</header>