@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/directors.css';
@import 'shared/films.css';


:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: white;
    /* background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light)); */
    background-color: var(--color-background-dark);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
    position: relative;
}

.inner-container {
    font-weight: 300;
    margin: 0 2rem;
    padding-left: 20px;
    position: relative;
    top: -50px;
    min-height: 1000px;
}

@media only screen and (max-width: 1000px) {
    .container {
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .inner-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .page-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .header-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .film-grid {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
    .director-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
    }
    .dir-index {
        margin-left: 100px;
    }
    .film-grid a img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
}

.page-header {
    font-size: 2.5rem;
    font-weight: 300;
}

.page-header-semi {
    font-size: 1.8rem;
}

.error-message {
    color: var(--color-text-light);
    font-weight: bold;
}

.film-details-grid {
    margin-left: 45px;
}

.films-of-director {
    margin-right: 100px;
}

.contact {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact input {
    width: 250px;
    background-color: var(--color-background-dark);
}

.contact textarea {
    width: 350px;
    height: 150px;
    background-color: var(--color-background-dark);
    resize: none;
}

.form-header {
    text-align: center;
}

.contact a {
    text-decoration: none;
}