
<div>
    <label>Length</label>
    <input type="number" name="length" min="1" value="<%= film.length %>" required>    
</div>
<div>
    <label>poster</label>
    <input type="file" name="poster" required>    
</div>
<div>
    <label>description</label>
    <textarea name="description" required><%= film.description %></textarea> 
</div>



