<H2 class="page-header">Edit Film</H2>
<form action="/films/<%= film.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/films">cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>

