<H2 class="page-header">New Film</H2>
<form action="/films" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/films">cancel</a>
        <button class="btn btn-primary" type="submit" disabled>Create</button>
    </div>
</form>

